/* font link import */
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Niconne&display=swap');


body{
    font-family: 'Poppins', sans-serif;
    margin: 0;
    padding: 0;
}

/* Common Styles or Utilites */

a{
    text-decoration: none;
}
.container{
    width: 80%;
    margin: auto;
}

/* Hearder */
#header-background{
    background-color: #2D25A0;
    padding-bottom: 80px;
}
/* navbar start */
nav{
    display: flex;
    justify-content: space-between;
    align-items: center;
     
    width: 90%;
    margin: auto;
    padding-top: 42px;
    padding-bottom: 10px;
}
#toggle-icon{
    display: none;
}
.toggle-bar{
    height: 5px;
    width: 35px;
    background-color: white;
    margin-bottom: 10px;
    border-radius: 5px;
    position: absolute;
}
.nav-link a{
    color: white;
    font-weight: 500;
    font-size: 16px;
    line-height: 24px;
    margin-left: 36px; 
}
.nav-link a:hover{
    /* background-color: #7c73ff; */
    color: hsl(150, 100%, 83%);

}

.login-btn .fas{
    margin-right: 8px;
}
.login-btn a{
    color:white;
    font-weight: 500;
    font-size: 16px;
    line-height: 24px;
    background-color:#E02C6D;
    padding: 10px 24px;
}

/* navbar end  */

/* top section starts */
.top-section{
    width: 85%;
    margin: 50px auto 0 auto;
    display: flex;
    justify-content: space-between;

}
.top-section .half-width{
    width: 45%;
}
.top-section h1{
    font-weight: 700;
    font-size: 64px;
    line-height: 80px;
    color: white;
}
.watch-live-btn{
    margin-top: -25px;
}
.watch-live-btn a{
    color:white;
    font-weight: 500;
    font-size: 16px;
    line-height: 24px;
    background-color:#E02C6D;
    padding: 10px 24px;
}
.watch-live-btn .fas{
    margin-left: 8px;
}

.top-section img{
    width: 100%;
     
}

.top-section img:hover{
    transform:rotate(-360deg);
    transition: transform 2s ease-in;
}

/* Players Section Starts */
.players{
    margin-top: 70px;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-column-gap: 30px;
    grid-row-gap: 27px;
}
.player{
    padding: 15px;
    /* width: 330px; */
    height: 474px;
    /* border: 1px solid red; */
    box-shadow: 0px 0px 40px rgba(0, 0, 0, 0.15); 
}
.player-info{
    /* border: 1px solid red; */
    padding-bottom: 18px;
}
.player-info img{
    width: 100%;
    /* width: 300px;  */
    /* height: 256px; */
    
}

.player-info h2{
    font-weight: 700;
    font-size: 28px;
    line-height: 40px;
    color: #18191F;
}
.player-info p{
    text-align: justify;
    color: #6C6C6C;
    font-weight: 300;
    font-size: 16px;
    line-height: 26px;
}

/* Players Section Ends */

/* Final Highlights Section Starts */
.match-highlights{
    width: 85%;
    margin: 165px auto 0 auto;
    /* display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-column-gap: 20px; */
    display: flex;
    justify-content: space-between;
    align-items: center;

}
.match-highlights .left-part{
    padding-right: 100px;
}
.match-highlights h1{
    font-weight: 700;
    font-size: 48px;
    line-height: 60px;
    color: #0A0826;
}
.match-highlights p{
    text-align: justify;
    margin-top: -30px;
    color: #6C6C6C;
    font-size: 16px;
    line-height: 28px;
}
.match-highlights img{
    width: 100%;
}
.watch-now-btn{
    margin-top: 30px;
}
.watch-now-btn a{
    color:white;
    font-weight: 500;
    font-size: 16px;
    line-height: 24px;
    background-color:#E02C6D;
    padding: 10px 24px;
}
.watch-now-btn .fas{
    margin-left: 8px;
}

/* Final Highlights Section Ends */

/*Additional For Upcoming Games Sections For Bonus */
.upcoming-matches{

    margin:75px 0;
    padding: 25px;
    position: relative;
    min-height: 400px;
    background-color: rgb(255, 185, 220);
    
}
.match-schedule{
    /* border: 1px solid red; */
    width: 85%;
    margin:auto;
    /* display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between; */
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-column-gap: 30px;
}
.match-schedule a:visited{
    color: black;
}
.upcoming-matches h2{
    font-size: 29px;
    margin-left: 70px;
    
}
.upcoming-matches h3{
    color: #58a7fc;
    margin-top: -20px;
    margin-left: 70px;
}
.upcoming-matches .logo{
    font-family: 'Niconne', cursive;
    font-size: 50px;
    font-weight: 400;
    color: #10437A;
}
.teams-info{
    display: flex;
    justify-content: space-between;
    align-items: center;
    /* border: 1px solid rgb(148, 148, 148); */
    border-radius: 20px;
    padding: 0 10px;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}
.teams-info:hover {
    transform:translateY(-2px) scale(1.05) ;
}
.each-team{
    display: flex;
    align-items: center;
    margin: 0;
    padding: 0;

}
.each-team img{
    width: 25px;
    height: 25px;
    margin-right: 15px;

}
.each-team h4{
        color: rgb(43, 43, 43);
        font-weight: 200;
        font-size: 16px;
}
.match-time{
    text-align: right;
}
.match-time i{
    margin-right: 10px;
}
.schedule-nav{
    position: absolute;
    left: 1275px;
    bottom: 180px;
    font-size: 2em;
    
}
.schedule-nav:hover{
    padding: 3px 17px;
    background-color: rgb(41, 41, 41);
    color: white;
    border-radius: 50%;
    position: absolute;
    left: 1260px;
    bottom: 180px;
    font-size: 2em;
    transition: linear background-color;
}





/* footer starts */
footer{
    margin-top: 50px;
    margin-bottom: 63px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
footer img{
    width: 483px;
    /* border: 1px solid red; */
}
footer i{
    color: #969BAB;
    height: 32px;
    width: 32px;
    padding: 0 7px;
    margin-top: 20px;
}
footer p{
    font-weight: 200;
    font-size: 18px;
    line-height: 24px;
    color: black;
}

/* footer ends */

/* CSS Media Quesry Styles for Responsive of Mobile and Tablets */
@media only screen and (max-width: 688px){

    /* navbar  */
    header{
        width: 100%;
    }

    .nav-link{
        display:none;
    }
 
    
    /* top section  */
    .top-section{
        display: flex;
        flex-direction: column;
    }
    .login-btn{
        position:absolute;
        left: 350px;
    }

    .players{
        display: grid;
        grid-template-columns: 1fr;
    }
}